apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-ppyh
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-service-e2e-tenant/appstudio/dc-metro-map-ppyh@sha256:7c8cfa5e9ab4a13a129a4f00434a186f608db2bec2b2cd87807086b915097201
        name: my-nodejs
        resources: {}
status: {}
